.gg-google,
.gg-google::before {
    box-sizing: border-box;
    display: block
}

.gg-google {
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 4px solid;
    border-right-color: transparent;
    border-radius: 22px
}

.gg-google::before {
    content: "";
    position: absolute;
    border-top: 4px solid;
    border-right: 4px solid;
    border-bottom: 4px solid;
    border-radius: 0 0 10px 0;
    width: 10px;
    height: 12px;
    right: -4px;
    bottom: -4px
}

.gg-youtube {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 10px;
    box-shadow: 0 0 0 2px;
    border-radius: 15px 15px 15px 15px /45px 45px 45px 45px;
    -webkit-transform: scale(var(--ggs, 1));
    -moz-transform: scale(var(--ggs, 1));
    -ms-transform: scale(var(--ggs, 1));
    -o-transform: scale(var(--ggs, 1));
}

.gg-youtube::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 7px;
    top: 2px;
    border-left: 4px solid currentColor;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent
}

.gg-link {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(-45deg) scale(var(--ggs, 1));
    width: 8px;
    height: 2px;
    background: currentColor;
    border-radius: 4px
}

.gg-link::after,
.gg-link::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 8px;
    height: 10px;
    border: 2px solid;
    top: -4px
}

.gg-link::before {
    border-right: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    left: -6px
}

.gg-link::after {
    border-left: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    right: -6px
}

.gg-facebook {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 20px;
    height: 20px
}

.gg-facebook::after,
.gg-facebook::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box
}

.gg-facebook::before {
    width: 8px;
    height: 20px;
    border-left: 4px solid;
    border-top: 4px solid;
    border-top-left-radius: 5px;
    left: 6px
}

.gg-facebook::after {
    width: 10px;
    height: 4px;
    background: currentColor;
    top: 7px;
    left: 4px;
    transform: skew(-5deg)
}

.gg-twitter {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 20px;
    height: 20px
}

.gg-twitter::after,
.gg-twitter::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 4px
}

.gg-twitter::before {
    width: 9px;
    height: 14px;
    border-left: 4px solid;
    border-bottom: 4px solid;
    border-bottom-left-radius: 6px;
    background: linear-gradient(to left, currentColor 12px, transparent 0)no-repeat center 2px/10px 4px;
    top: 4px
}

.gg-twitter::after {
    width: 4px;
    height: 4px;
    background: currentColor;
    border-radius: 20px;
    top: 2px;
    box-shadow: 7px 4px 0, 7px 12px 0
}

.gg-home-alt {
    box-sizing: border-box;
    position: relative;
    top: 0;
    bottom: 0;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 18px;
    height: 14px;
    margin: 5px auto;
    border: 2px solid;
    border-top: 0;
    border-radius: 2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.gg-home-alt::after,
.gg-home-alt::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-home-alt::before {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 4px;
    transform: rotate(45deg);
    top: -5px;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.gg-home-alt::after {
    width: 6px;
    height: 10px;
    background: currentColor;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    left: 4px;
    bottom: -2px
}

.gg-user {
    display: block;
    transform: scale(var(--ggs, 1));
    box-sizing: border-box;
    width: 12px;
    height: 18px;
    -webkit-transform: scale(var(--ggs, 1));
    -moz-transform: scale(var(--ggs, 1));
    -ms-transform: scale(var(--ggs, 1));
    -o-transform: scale(var(--ggs, 1));
}

.gg-user::after,
.gg-user::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid
}

.gg-user::before {
    width: 8px;
    height: 8px;
    border-radius: 30px;
    top: 0;
    left: 2px
}

.gg-user::after {
    width: 12px;
    height: 9px;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 9px
}

.gg-eye {
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 24px;
    height: 18px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    overflow: hidden;
    box-sizing: border-box;
    ;
    cursor: pointer
}

.gg-eye::after,
.gg-eye::before {
    content: "";
    display: block;
    border-radius: 100px;
    position: absolute;
    box-sizing: border-box
}

.gg-eye::after {
    top: 2px;
    box-shadow: inset 0 -8px 0 2px, inset 0 0 0 2px;
    width: 24px;
    height: 24px
}

.gg-eye::before {
    width: 8px;
    height: 8px;
    border: 2px solid;
    bottom: 4px;
    left: 8px
}

.gg-eye-alt {
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 24px;
    height: 18px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    overflow: hidden;
    box-sizing: border-box;
    ;
    cursor: pointer
}

.gg-eye-alt::after,
.gg-eye-alt::before {
    content: "";
    display: block;
    border-radius: 100px;
    position: absolute;
    box-sizing: border-box
}

.gg-eye-alt::after {
    top: 2px;
    box-shadow: inset 0 -8px 0 2px, inset 0 0 0 2px;
    width: 24px;
    height: 24px
}

.gg-eye-alt::before {
    width: 8px;
    height: 8px;
    border: 2px solid transparent;
    box-shadow: inset 0 0 0 6px, 0 0 0 4px, 6px 0 0 0, -6px 0 0 0;
    bottom: 4px;
    left: 8px
}

.gg-profile,
.gg-profile::after,
.gg-profile::before {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.gg-profile {
    overflow: hidden;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    position: relative
}

.gg-profile::after,
.gg-profile::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 8px
}

.gg-profile::after {
    border-radius: 200px;
    top: 11px;
    left: 0;
    width: 18px;
    height: 18px
}

.gg-credit-card {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 24px;
    height: 18px;
    border: 2px solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.gg-credit-card::after,
.gg-credit-card::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 24px;
    left: -2px;
    height: 2px;
    background: currentColor;
    top: 9px
}

.gg-credit-card::before {
    width: 6px;
    left: 2px;
    top: 3px
}

.gg-phone {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    transform: scale(var(--ggs, 1));
    -webkit-transform: scale(var(--ggs, 1));
    -moz-transform: scale(var(--ggs, 1));
    -ms-transform: scale(var(--ggs, 1));
    -o-transform: scale(var(--ggs, 1));
}

.gg-phone::after,
.gg-phone::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-phone::after {
    width: 18px;
    height: 18px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 12px;
    border-left: 4px solid;
    border-bottom: 4px solid;
    left: 2px;
    bottom: 2px;
    background: linear-gradient(to left, currentColor 10px, transparent 0) no-repeat right 11px/6px 4px, linear-gradient(to left, currentColor 10px, transparent 0) no-repeat -1px 0/4px 6px
}

.gg-phone::before {
    width: 20px;
    height: 20px;
    border: 6px double;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    transform: rotate(-45deg);
    bottom: 2px;
    left: 2px
}

.gg-cloud {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 8px;
    height: 2px;
    background: currentColor;
    margin-bottom: -20px;
}

.gg-cloud::after,
.gg-cloud::before {
    content: "";
    display: block;
    position: absolute;
    border: 2px solid;
    box-sizing: border-box;
    bottom: 0
}

.gg-cloud::before {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: 0;
    left: -6px;
    width: 7px;
    height: 12px
}

.gg-cloud::after {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    border-left-color: transparent;
    right: -8px;
    transform: rotate(-45deg)
}

.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
    margin: 0 9px;
    color: rgb(255, 255, 255)
}

.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}

.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
}

.gg-mail,
.gg-mail::after {
    display: block;
    box-sizing: border-box;
    height: 14px;
    border: 2px solid;
}

.gg-mail {
    overflow: hidden;
    transform: scale(var(--ggs, 1));
    position: relative;
    width: 18px;
    border-radius: 2px
}

.gg-mail::after {
    content: "";
    position: absolute;
    border-radius: 3px;
    width: 14px;
    transform: rotate(-45deg);
    bottom: 3px;
    left: 0
}

.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px;
}

.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}

.gg-arrow-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    color: #000
}

.gg-arrow-right::after,
.gg-arrow-right::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 3px
}

.gg-arrow-right::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 7px
}

.gg-arrow-right::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor
}

.gg-log-out {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 6px;
    height: 16px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    border-right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: -10px;
    margin: auto;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3)
}

.gg-log-out::after,
.gg-log-out::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-log-out::after {
    border-top: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    width: 8px;
    height: 8px;
    left: 4px;
    bottom: 2px
}

.gg-log-out::before {
    border-radius: 3px;
    width: 10px;
    height: 2px;
    background: currentColor;
    left: 5px;
    bottom: 5px
}


/* menu */

.gg-menu-grid-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    margin: auto;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.gg-menu-grid-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 4px;
    height: 4px;
    background: currentColor;
    box-shadow: 0 6px 0, 6px 6px 0, 12px 6px 0, 6px 12px 0, 12px 12px 0, 6px 0 0, 12px 0 0, 0 12px 0;
    border-radius: 22px;
}


/* setting */

.gg-options {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 2px;
    box-shadow: -3px 4px 0 0, 3px -4px 0 0;
    margin: auto;
}

.gg-options::after,
.gg-options::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid;
    border-radius: 100%
}

.gg-options::before {
    top: -7px;
    left: -4px
}

.gg-options::after {
    bottom: -7px;
    right: -4px
}


/* user add */

.gg-user-add {
    display: block;
    transform: scale(var(--ggs, 1));
    box-sizing: border-box;
    width: 20px;
    height: 18px;
    background: linear-gradient( to left, currentColor 8px, transparent 0) no-repeat 14px 6px/6px 2px, linear-gradient( to left, currentColor 8px, transparent 0) no-repeat 16px 4px/2px 6px
}

.gg-user-add::after,
.gg-user-add::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid
}

.gg-user-add::before {
    width: 8px;
    height: 8px;
    border-radius: 30px;
    top: 0;
    left: 2px
}

.gg-user-add::after {
    width: 12px;
    height: 9px;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 9px;
    left: 0;
}


/* user edit */

.gg-user-list {
    display: block;
    transform: scale(var(--ggs, 1));
    box-sizing: border-box;
    width: 20px;
    height: 18px;
    background: linear-gradient( to left, currentColor 8px, transparent 0) no-repeat 14px 4px/6px 2px, linear-gradient( to left, currentColor 8px, transparent 0) no-repeat 14px 8px/6px 2px, linear-gradient( to left, currentColor 8px, transparent 0) no-repeat 14px 12px/6px 2px
}

.gg-user-list::after,
.gg-user-list::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid
}

.gg-user-list::before {
    width: 8px;
    height: 8px;
    border-radius: 30px;
    top: 0;
    left: 2px
}

.gg-user-list::after {
    width: 12px;
    height: 9px;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 9px;
    left: 0;
}


/* prevent */

.gg-block {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%
}

.gg-block::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    transform: rotate(-45deg);
    top: 5px;
    left: 1px
}


/* reports */

.gg-list {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 20px;
    border: 2px solid;
    border-radius: 3px
}

.gg-list::after,
.gg-list::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 2px;
    background: currentColor;
    top: 3px;
    left: 3px;
    box-shadow: 0 4px 0, 0 8px 0
}

.gg-list::after {
    border-radius: 3px;
    width: 8px;
    left: 7px
}

.gg-format-justify,
.gg-format-justify::before {
    display: block;
    box-sizing: border-box;
    width: 16px;
    height: 2px;
    border-radius: 3px;
    background: currentColor;
    box-shadow: 0 8px 0
}

.gg-format-justify {
    margin-top: -11px;
    transform: scale(var(--ggs, 1));
    position: relative
}

.gg-format-justify::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0
}


/* log off */

.gg-log-off {
    box-sizing: border-box;
    position: relative;
    display: block;
    border-radius: 16px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    border-top: 2px solid transparent
}

.gg-log-off::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    height: 8px;
    width: 2px;
    background: currentColor;
    left: 5px;
    bottom: 6px
}


/* lock */

.gg-lock-unlock {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 12px;
    height: 6px;
    border: 2px solid;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom: transparent;
    margin-top: -18px;
    margin-left: -2px
}

.gg-lock-unlock::after,
.gg-lock-unlock::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-lock-unlock::after {
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    width: 16px;
    height: 10px;
    border-radius: 2px;
    left: -4px;
    top: 10px
}

.gg-lock-unlock::before {
    width: 2px;
    height: 6px;
    background: currentColor;
    left: -2px;
    top: 4px;
}